<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="microsoft.visualstudio.qualitytools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions"/>
  </configSections>

  <connectionStrings>
    <!--Path to the database to be modified as per location on your machine-->
    <add name="TestData"
         connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=.\DB_FILE.mdb; Persist Security Info=False;"
         providerName="System.Data.OleDb" />
  </connectionStrings>

  <microsoft.visualstudio.qualitytools>
    <dataSources>
      <add name="ShoppingDiscountTestData" connectionString="TestData" dataTableName="ShoppingDiscountTestData" dataAccessMethod="Sequential"/>
    </dataSources>
  </microsoft.visualstudio.qualitytools>
  
</configuration>